@{
    ViewBag.Title = "ExpensesTracker - Admin Settings";
}

<main class="flex-grow-1">
    <div class="container wip-container">
        <h3>Admin Settings</h3>
        <h1>🚧 Work in Progress 🚧</h1>
        <p>We're currently building this section. Please check back later.</p>
        <a asp-controller="Entry" asp-action="Index" asp-area="" class="btn btn-primary btn-home"><i class="fa-solid fa-house fa-xs"></i>Return to Entry Table</a>
    </div>
</main>